@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
  --mainBg: linear-gradient(to right, #1b2a49, #16233a, #0f1d2a, #0a1720);
  --secondaryBg: #f8f9fc;
  --mainText: #f0f0f0;
  --accent: #00a9e0;
  --secondaryText: #222222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--poppins), sans-serif;
  font-weight: 800;
}

a {
  font-family: var(--poppins), sans-serif;
  text-decoration: none;
}
p {
  font-family: var(--lora), serif;
}
ul {
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}
