.header {
  position: relative;
  background: var(--mainBg);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 2rem;
}
.logo {
  width: 11rem;
}

.navItem {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--accent);
}

.underline {
  position: relative;
}

.underline::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -0.9rem;
  width: 100%;
  height: 0.3rem;
  background-color: var(--accent);
  transform: translateX(-50%) scaleX(0);
  transition: transform 0.3s ease-in-out;
  transform-origin: center;
}

.underline:hover::after {
  transform: translateX(-50%) scaleX(1);
}

@media (max-width: 744px) {
  .header {
    display: none;
  }
}
